<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-primary">
  <div class="container">
      <a class="navbar-brand" [routerLink]="['/home']">Home</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto" *ngIf="loggedIn()">
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" [routerLink]="['/members']">Members</a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" [routerLink]="['/lists']">Lists</a>
          </li>
          <li class="nav-item" routerLinkActive="active">
              <a class="nav-link" [routerLink]="['/messages']">Messages</a>
            </li>
        </ul>
    
        <div *ngIf="loggedIn();" class="dropdown" dropdown>
          <a class="dropdown-toggle text-light" dropdownToggle>
            Wellcome {{authService.decodedToken?.unique_name | titlecase}}
          </a>
          <div class="dropdown-menu mt-3" *dropdownMenu>
            <a class="dropdown-item" href="#"><i class="fa fa-user"></i> Profile </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" (click)="logout()"><i class="fa fa-sign-out"></i>Log out</a>
          </div>
        </div>
    
        <form *ngIf="!loggedIn()" #loginForm="ngForm" class="form-inline mt-2 mt-md-0" (ngSubmit)="login()">
          <input class="form-control mr-sm-2" type="text" name="username" placeholder="Username" required [(ngModel)]="model.username">
          <input class="form-control mr-sm-2" type="password" name="password" placeholder="Password" required [(ngModel)]="model.password">
          <button [disabled]="!loginForm.valid" class="btn btn-success my-2 my-sm-0" type="submit">Login</button>
        </form>
      </div>
  </div>
  
</nav>
